<%- include('../../fragments/header.ejs') %>
        <main>
            <h2><%= pageTitle %></h2>
            <form
                class="form"
                method="post"
                action="<%=formAction%>"
                onsubmit="return validateForm()"
                novalidate
            >
                <input type="hidden" name="id" value="<%=concert.Id ? concert.Id: ''%>">

                <label for="Venue">Lokalizacja: <span class="symbol-required">*</span></label>
                <input type="text" name="Venue" id="Venue" placeholder="2-200 znaków" value="<%=concert.Venue%>" <%= formMode == 'showDetails' ? 'disabled': ''%>>
                <span class="emptySpan"></span>

                <label for="StartDate">Data początkowa: <span class="symbol-required">*</span></label>
                <input type="date" name="StartDate" id="StartDate"
                   value="<%= concert.StartDate ? concert.StartDate.toISOString().split('T')[0]: '' %>"
                   <%= formMode == 'showDetails' ? 'disabled': '' %>
                >
                <span class="emptySpan"></span>

                <label for="FinishDate">Data końca: <span class="symbol-required">*</span></label>
                <input type="date" name="FinishDate" id="FinishDate"
                    value="<%= concert.FinishDate ? concert.FinishDate.toISOString().split('T')[0]: ''%>"
                   <%= formMode == 'showDetails' ? 'disabled': '' %>
                >

            </form>
            <% if(formMode == 'showDetails' || formMode == 'createNew'){ %>
                <div class="form-buttons">
                    <p>
                        <% if(formMode == 'createNew'){ %>
                            <input
                                    href="/concert/add"
                                    type="submit"
                                    class="button-add"
                                    value="Dodaj"
                            >
                        <% } %>
                        <a href="/concert" class="form-button-cancel">Anuluj</a>
                    </p>
                </div>
            <% }else{ %>
                <div class="form-buttons">
                    <p>
                        <input href="/concert" action="<%=formAction%>" type="submit" class="button-edit" value="Edytuj">
                        <a href="/concert" class="form-button-cancel">Anuluj</a>
                    </p>
                </div>
            <% } %>
        </main>
<%- include('../../fragments/footer.ejs') %>