<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="../../JS/validationArtistForm.js"></script>

    <h2><%= pageTitle %>></h2>
    <form
        class="form"
        method="post"
        action="<%=formAction%>"
        onsubmit="return validateForm();"
        novalidate
    >
        <input type="hidden" name="id" value="<%=artist.Id ? artist.Id: ''%>">

        <label for="FirstName">Imie: <span class="symbol-required">*</span></label>
        <input type="text" name="firstName" id="firstName" placeholder="2-50 znaków" value="<%=artist.FirstName%>" <%= (formMode == 'showDetails') ? 'disabled': '' %>>
        <span class="emptySpan"></span>

        <label for="LastName">Nazwisko: <span class="symbol-required">*</span></label>
        <input type="text" name="lastName" id="LastName" placeholder="2-100 znaków" value="<%=artist.LastName%>" <%= (formMode == 'showDetails') ? 'disabled': ''%>>
        <span class="emptySpan"></span>

        <label for="Pseudonym">Pseudonym: </label>
        <input type="text" name="pseudonym" id="Pseudonym" placeholder="do 200 znaków" value="<%=artist.Pseudonym%>" <%= (formMode == 'showDetails') ? 'disabled': ''%>>
        <span class="emptySpan"></span>

        <label for="Birthdate">Data urodzenia: </label>
        <input type="date" name="birthdate" id="Birthdate" placeholder="2011-11-11"
               value="<%= artist.Birthdate ? artist.Birthdate.toISOString().split('T')[0]: ''%>"
                <%= (formMode == 'showDetails') ? 'disabled': ''%>
        >
        <% if(formMode == 'showDetails' || formMode =='createNew'){ %>
            <div class="form-buttons">
                <p>
                    <input href="/artist/<% formMode == 'createNew' ? 'add': 'edit/' + artist.Id %>" type="submit" class="button-add" value="Dodaj">
                    <a href="/artist" class="form-button-cancel">Anuluj</a>
                </p>
            </div>
        <% }else{ %>
            <div class="form-buttons">
                <p>
                    <input href="/artist" action="<%=formAction%>" type="submit" class="button-edit" value="Edytuj">
                    <a href="/artist" class="form-button-cancel">Anuluj</a>
                </p>
            </div>
        <% } %>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>