<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="../../JS/validationArtistForm.js"></script>

    <h2><%= pageTitle %></h2>

    <form
        class="form"
        method="post"
        action="<%=formAction%>"
        onsubmit="return validateForm();"
    >
        <input type="hidden" name="id" value="<%=artist.Id ? artist.Id: ''%>">

        <label for="FirstName">Imie: <span class="symbol-required">*</span></label>
        <input type="text" name="firstName" id="firstName"
               placeholder="2-50 znaków"
               value="<%=artist.FirstName%>" <%= (formMode == 'showDetails') ? 'disabled': '' %>
               class="<%= validationErrors.find(e=>e.path.includes('FirstName')) ? 'error-input':''%>"
        >
        <% if (validationErrors.find(e=>e.path.includes('FirstName'))){%>
            <span id="errorFirstName" class="errors-text">
                <%=validationErrors.find(e=>e.path.includes('FirstName')).message%>
            </span>
        <%}else{%>
            <span class="emptySpan"></span>
        <%}%>

        <label for="LastName">Nazwisko: <span class="symbol-required">*</span></label>
        <input type="text" name="lastName" id="LastName"
            placeholder="2-100 znaków"
            value="<%=artist.LastName%>" <%= (formMode == 'showDetails') ? 'disabled': ''%>
            class="<%= validationErrors.find(e=>e.path.includes('LastName')) ? 'error-input':''%>"
        >
        <% if (validationErrors.find(e=>e.path.includes('LastName'))){ %>
            <span id="errorLastName" class="errors-text">
                <%=validationErrors.find(e=>e.path.includes('LastName')).message%>
            </span>
        <%}else{%>
            <span class="emptySpan"></span>
        <%}%>

        <label for="Pseudonym">Pseudonym: </label>
        <input type="text" name="pseudonym" id="Pseudonym"
            placeholder="do 200 znaków"
            value="<%=artist.Pseudonym%>"
            <%= (formMode == 'showDetails') ? 'disabled': ''%>
            class="<%= validationErrors.find(e=>e.path.includes('Pseudonym')) ? 'error-input':''%>"
        >
        <% if (validationErrors.find(e=>e.path.includes('Pseudonym'))){ %>
            <span id="errorPseudonym" class="errors-text">
                <%= validationErrors.find(e=>e.path.includes('Pseudonym')).message %>
            </span>
        <% }else{%>
                <span class="emptySpan"></span>
        <%}%>

        <label for="Birthdate">Data urodzenia: </label>
        <input type="date" name="birthdate" id="Birthdate" placeholder="2011-11-11"
               value="<% fmt.formatDate(artist.Brithdate) %>"
                <%= (formMode == 'showDetails') ? 'disabled': ''%>
                class="<%= validationErrors.find(e=>e.path.includes('Birthdate')) ? 'error-input':''%>"
        >

        <% if (validationErrors.find(e=>e.path.includes('Birthdate'))){ %>
            <span id="errorPseudonym" class="errors-text">
                <%= validationErrors.find(e=>e.path.includes('Birthdate')).message %>
            </span>
        <% }else{%>
            <span class="emptySpan"></span>
        <%}%>

        <% if(formMode == 'showDetails' || formMode =='createNew'){ %>
            <div class="form-buttons">
                <p>
                    <% if(formMode == 'createNew'){ %>
                    <input
                        href="/artist/add"
                        type="submit"
                        class="button-add"
                        value="Dodaj"
                    >
                    <% } %>
                    <a href="/artist" class="form-button-cancel">Anuluj</a>
                </p>
            </div>
        <% }else{ %>
            <div class="form-buttons">
                <p>
                    <input href="/artist" action="<%=formAction%>" type="submit" class="button-edit" value="Edytuj">
                    <a href="/artist" class="form-button-cancel">Anuluj</a>
                </p>
            </div>
        <% } %>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>