<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Lista artystów na koncertach</h2>
                <% if(artistsOnConcerts.length > 0){ %>
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th>Imie</th>
                                <th>Nazwisko</th>
                                <th>Pseudonim</th>
                                <th>Koncert</th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% artistsOnConcerts.forEach( data => { %>
                            <%console.log(data)%>
                                <tr>

                                    <td><%=data.firstName%></td>
                                    <td><%=data.lastName%></td>
                                    <td><%=data.pseudonym%></td>
                                    <td><%=data.venue%></td>
                                    <td>

                                        <li></li>

                                    </td>

                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% }else{ %>
                    <p>Nie ma nic do wyświetlenia</p>
                <% } %>
            <p><a href="form.html" class="button-add">Dodaj nowy występ</a></p>
        </main>
<%- include('../../fragments/footer.ejs') %>